.title {
    padding: 10px 15px;
    text-align: center;
}

#timetable > tbody > tr > td { 
    min-width: 40px;
    width: 18%;
    font-size: 0.8em;
}

#timetable > tbody > tr { 
    /* line-height: 5px; */
    max-height: 1px;
    height: 1px;
}

#courseBlock {
    cursor: pointer;
    color: #495057;
    background-color: #e9ecef;
}

#courseBlock.course-locked {
    color: white;
    background-color: #88ff89;
}

.pagination > .active {
    flex: 1 1 auto;
    background-color: white;
}

.pagination > .active > .page-link {
    color: #495057;
    background-color: transparent;
    border-color: #dee2e6;
    cursor: default;
    text-align: center;
}

body {
    min-width: 320px;
}